:root {
  --font-size: 15px;
  --white: hsl(0, 0%, 100%);
  --light-gray:hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: 'Outfit', sans-serif;
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-gray);
  padding: 24px;
  margin: 0;
}

.card {
  background-color: var(--white);
  max-width: 343px;
  padding: 16px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 4px 35px hsl(0, 0%, 0%, 0.1);
}

.card--title {
  font-size: 24px;
  margin: 16px 0;
  color: var(--dark-blue);
}

.card--body {
  padding: 16px;
}

.card--description {
  color: var(--grayish-blue)
}

.card--image {
  border-radius: 12px;
  width: 100%;
  height: auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 8px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}